body{
    background-color:#f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url("1.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
.toggle{
    display: none;
}
nav ul li a{
    margin: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color:black;
}
.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: darkblue;
}
.text-content p:nth-child(1){
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
color: #490303;
font-size: 32px;

}
.text-content p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
color: #160101;
font-size: 52px;

}
.text-content p:nth-child(3){
    font-family: myriad pro 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
color: #06191f;
font-size: 30px;
line-height: 30px;
}
.text-content p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-content{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-content button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight:200;
    outline: none;
    margin:0px 10px;
   border:  solid 2px;
   color: #373637;
   background-color: rgb(237, 232, 241);

}
button:active{
    transform: scale(1.1);
}
/*here ypu will add ypur image*/
.model{
    height: 560px;
    width: 400px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translateX(-60%);
    transform: translateY(10%);
}
/*about box*/
.about-container{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.about-text p:nth-child(2){
    color: #403e3e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
    font-size: 13px;

}
.about-text p:nth-child(3){
    color: #7e7d7d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.service{
    height: 600px;
    background-color: #ffffff;
}
.service-text p:nth-child(1){
    color: #3e3e3e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}
.service-text p:nth-child(2){
    color: #3e3e3d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
}
.service-text p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7e7d7d;
}
.box-1,.box-3,.box-2{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 2px 12px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: :column;
}
.box-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.box-1{
    background-image: url("3.jpg");
}
.box-2{
    background-image: url("4.jpg");

}
.box-3{
    background-image: url("5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*
.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
*/
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
color: #1a0202;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 23px;
line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 20px 0px ;
    color: #130303;
    text-align: center;
    width: 230px;
}
.contact-me{
    width: 100%;
    height: 28vh;
    background-image: url("7.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    flex-direction: column;
}
.contact-me p{
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-me button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight:200;
    outline: none;
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top:250% ;
    margin:0px 10px;
   border:  solid 2px;
   color: #373637;
   background-color: rgb(237, 232, 241);
}
footer{
    height: 300px;
    display: flex;
    justify-content: center;
flex-direction: column;
align-items: center;
}
footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;

}
footer p:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    color: #7e7d7d;
text-align: center;
position: relative;

}
.social-media a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-media{
    display: flex;
}
.copyright p{
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.social-media i,{
    color: #000000;
}
.social-media a:hover,.a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-media a:hover i,
.a-social-b a:hover i{
    background-color: #ffffff;
    transition: all ease 0.5s;
}
.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(0%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid#cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}
@media(max-width:1000px){
    *{
        box-sizing: border-box;
    }
    .model{
        height: 460px;
        left: 90%;
        transform: translateX(-90%);
    }
    .text-content{
        top: 46%;
    }
    .text-content button{
        margin: 5px;
    }
    .about-container{
        width: 90%;
        border-radius: 10px;
    }
    .about-container img{
        height: 200px ;
    }
    .about-text{
        width: 400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
    }


    .about-text p:nth-child(2){
        font-size: 10px;
    }
    .about-text p:nth-child(3){
        font-size: 15px;
    }
    .service{
        padding: 2% 5% 0px 5%;
    }
    .box-container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .service{
        height: auto;
    }
    .box-1,.box-2,.box-3{
        flex-grow: 1;
        margin: 30px;
    }
    .contact-me{
        height: 200px;
    }
    .contact-me{
        font-size: 26px;

    }
    .contact-me button{
        font-size: 14px;
        height: 35px;
        width: 160px;
    }
}
@media(max-width:750px){
    section{
        background-image: none;
        background-color: #f7f7f7;
    }
    .model{
        display: none;
    }
    .toggle{
        display: block;
    }
    .text-content p:nth-child(2){
        line-height: 40px;
        margin: 0px;
        padding: 0px;
    }
    .text-content{
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    nav ul{
        margin: 0px;
        padding: 0px;
        background-color: #ebeef4;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display: none;
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4em;
        text-transform: uppercase;
        color: #5c5c5c;

    }
    nav ul li a:hover{
        
        color: #121123;
    }
    .toggle:before{
        content: '\f0c9';
        position: fixed;
        right: 0px;
        line-height: 0px;

    }
nav.active ul{
    display: flex !important;
}
.about-container{
    top: 0px;
    flex-direction: column;
     width: 90%;
     height: auto;
     padding: 30px 0px;
     align-items: center;
}
.about-text{
    width: 90%;
    text-align: center;
}
.service-text{
    width: 100%;
}
    .contact-me p{
        height: 180px;
    }
.contact-me{
    width: 150px;
    height: 33px;
}
footer p:nth-child(2){
    width: 90;
}
.contact-me{
    width: 100%;
    height: 28vh;
    justify-content: center;
}
.contact-me button{
    padding: 10px;
    
}
footer img{
    width: 90vh;
}
}